<div class="row">
    <div class="col-4" >
        <h1 style="text-align: center;position: relative;bottom:0" >{{teamInfo.teamName}}</h1>
    </div>
    <div class=" col-8 win-loss-section">
        <h4 class="">Wins / Losses</h4>
        <app-pie-chart [teamInfo]="teamInfo"></app-pie-chart>
        <!-- <PieChart
            data={[
                { title: 'Losses', value: team.totalMatches - team.totalWins, color: '#a34d5d' },
                { title: 'Wins', value: team.totalWins, color: '#4da375' },
            ]}
            /> -->
            
    </div>
    <div class="match-detail-section col-12">
        <h3>Latest Matches</h3>
        <!-- <MatchDetailCard teamName={team.teamName} match={team.matches[0]}/> -->
        <app-match-small-card [teamName]="teamInfo.teamName" [matches]="LastMatches"></app-match-small-card>
    </div>
    <!-- {team.matches.slice(1).map(match => <MatchSmallCard key={match.id} teamName={team.teamName} match={match} />)} -->
    <div class="more-link">
    <a href="/teams/{{teamInfo.teamName}}/matches/2020">More ></a>
    </div>
    </div>
